In [ ]:
#Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.azquotes.com/")

In [4]:
driver.maximize_window()

In [5]:
submit=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
submit.click()

In [6]:
quote=[]
author=[]
quote_type=[]

In [7]:
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags[0:100]:
    Qquotes=i.text
    quote.append(Qquotes)

In [8]:
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    authors=i.text
    author.append(authors)

In [9]:
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    Quotes=i.text
    quote_type.append(Quotes)

In [10]:
print(len(quote),len(author),len(quote_type))

100 100 100

In [11]:
import pandas as pd

In [12]:
df=pd.DataFrame({'Quotes':quote,'Authors':author,'Type':quote_type})
df

,Quotes,Authors,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [13]:
driver.close()

In [ ]:
#Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [14]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
driver.get('https://www.jagranjosh.com/')

In [16]:
driver.maximize_window()

In [17]:
submit=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
submit.click()

In [18]:
submit=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
submit.click()

In [20]:
Name=[]
Born_Dead=[]
Term_of_office=[]
Remarks=[]

In [21]:
name_tags= driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_tags:
    Name.append(i.text)

In [22]:
born_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_tags:
    Born_Dead.append(i.text)

In [23]:
term_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in term_tags:
    Term_of_office.append(i.text)

In [24]:
remark_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remark_tags:
    Remarks.append(i.text)

In [25]:
print(len(Name),len(Born_Dead),len(Term_of_office),len(Remarks))

18 18 35 18

In [26]:
Term_of_office

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - Present']

In [28]:
required_data = []
for i in range(len(Term_of_office)):
    
    if "to" in Term_of_office[i]:
        required_data.append(Term_of_office[i])

In [29]:
data=['26 May 2014 - Present']
data

['26 May 2014 - Present']

In [30]:
required_data.append(data)

In [32]:
df=pd.DataFrame({'NAME':Name,'BORN-DEAD':Born_Dead,'TERM OF OFFICE':required_data,'REMARK':Remarks})
df

,NAME,BORN-DEAD,TERM OF OFFICE,REMARK
0,Jawahar Lal Nehru,(1889â€“1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904â€“1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917â€“1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896â€“1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902â€“1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917â€“1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944â€“1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931â€“2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927â€“2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921â€“2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919â€“2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),[26 May 2014 - Present],4th Prime Minister of India who served two con...

In [ ]:
#Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [37]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [38]:
driver.get('https://www.motor1.com/')

In [39]:
driver.maximize_window()

In [46]:
lists=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]")
lists.click()

In [47]:
cars=driver.find_element(By.XPATH,"/html/body/div[3]/div[6]/div/div[1]/div[1]/div[1]/div/div[1]/h3/a")
cars.click()

In [54]:
car=[]

In [49]:
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    car.append(i.text)

In [53]:
df=pd.DataFrame({'CAR':car})
df

                                      CAR
0                       Ferrari LaFerrari
1                              McLaren P1
2                        Mercedes-AMG One
3                 Lamborghini Sian FKP 37
4                             Lotus Evija
5                Bugatti Chiron Pur Sport
6                            Ferrari Enzo
7                    Pininfarina Battista
8                     Aston Martin One-77
9   Lambo Aventador LP780-4 Ultimae Coupe
10                Pagani Huayra Codalunga
11                          De Tomaso P72
12                   Lamborghini Countach
13                     Lamborghini Veneno
14                     Gordon Murray T.50
15                         Pagani Zonda R
16    Pagani Huayra BC Pacchetto Tempesta
17                           Bugatti Divo
18                          Pagani Huayra
19                     Bugatti Centodieci
20                           Deus Vayanne
21                             McLaren F1
22                         Koenigsegg CCR
23                      Koenigsegg Gemera
24                             Aspark Owl
25                     Koenigsegg Agera R
26                  Aston Martin Valkyrie
27                         Tesla Roadster
28              W Motors Fenyr SuperSport
29                      McLaren Speedtail
30                         Bugatti Veyron
31                      SSC Ultimate Aero
32                           Rimac Nevera
33               Bugatti La Voiture Noire
34                        Bugatti Mistral
35                           Zenvo TSR-GT
36        Bugatti Veyron 16.4 Super Sport
37                     Hennessey Venom GT
38             Bugatti Chiron Super Sport
39                       Koenigsegg One:1
40                    Koenigsegg Agera RS
41                            Czinger 21C
42                            SSC Tuatara
43            Hennessey Venom F5 Roadster
44                       Koenigsegg CC850
45        Bugatti Chiron Super Sport 300+
46                    SP Automotive Chaos
47                     Hennessey Venom F5
48                         Bugatti Bolide
49               Koenigsegg Jesko Absolut
50              Fastest Cars In The World