In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException
import requests

In [2]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
rank=[]
name=[]
artist=[]
upload=[]
views=[]

In [5]:
try:
    rank_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank_tags:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No Deatails')
    
    
try:
    name_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name_tags:
        name.append(i.text)
        
except NoSuchElementException:
    name.append('No Details')
    
try:
    artist_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in artist_tags:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('No Details')
    
try:
    upload_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in upload_tags:
        upload.append(i.text)
        
except NoSuchElementException:
    upload.append('No Details')
try:
    views_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in views_tags:
        views.append(i.text)
        
except NoSuchElementException:
    views.append('No Details')

In [6]:
print(len(rank),len(name),len(artist),len(upload),len(views))

30 30 30 30 30

In [7]:
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload':upload,'Views In Billions':views})
df

,Rank,Name,Artist,Upload,Views In Billions
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

In [ ]:
#Question nomber 2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.You need to find following details: A) Match title (I.e. 1stODI) B) Series C) Place D) Date E) Time

In [59]:
driver1=webdriver.Chrome(r"C:\Users\User\Desktop\veeresh\Internship(test)/chromedriver.exe")

C:\Users\Rhsha\AppData\Local\Temp\ipykernel_6916\721617797.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver1=webdriver.Chrome(r"C:\Users\User\Desktop\veeresh\Internship(test)/chromedriver.exe")

In [60]:
driver1.get('http://www.bcci.tv/')
driver1.maximize_window()

In [61]:
international=driver1.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [62]:
result=driver1.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/ul/li[2]/a')
result.click()

In [64]:
match=[]
series=[]
place=[]
date=[]
time=[]
result=[]

In [65]:
match_tag=driver1.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_tag:
    match.append(i.text)

series_tag=driver1.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    series.append(i.text)

place_tag=driver1.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[3]')
for i in place_tag:
    place.append(i.text)
    
date_tag=driver1.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tag:
    date.append(i.text)
    
time_tag=driver1.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tag:
    time.append(i.text)

In [66]:
len(match),len(series),len(place),len(date),len(time)

(8, 8, 8, 8, 8)

In [67]:
df=pd.DataFrame({'Match':match,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match,Series,Place,Date,Time
0,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023,Chennai,22 MAR 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023,Visakhapatnam,19 MAR 2023,1:30 PM IST
2,1st ODI -,AUSTRALIA TOUR OF INDIA 2023,Mumbai,17 MAR 2023,1:30 PM IST
3,4th Test -,AUSTRALIA TOUR OF INDIA 2023,Ahmedabad,9 MAR 2023,9:30 AM IST
4,3rd Test -,AUSTRALIA TOUR OF INDIA 2023,Indore,1 MAR 2023,9:30 AM IST
5,Semi Final -,ICC WOMENS T20 WORLD CUP 2023,Cape Town,23 FEB 2023,6:30 PM IST
6,4th T20I -,ICC WOMENS T20 WORLD CUP 2023,Gqeberha,20 FEB 2023,6:30 PM IST
7,3rd T20I -,ICC WOMENS T20 WORLD CUP 2023,Gqeberha,18 FEB 2023,6:30 PM IST

In [10]:
driver.get('https://www.statisticstimes.com/')

In [11]:
search=driver.find_element(By.XPATH,'//div[@class="navbar"]')
search.click()

In [13]:
#clicking on economy button
economy=driver.find_element(By.XPATH,"//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)


#clicking on gdp of indian states
indian_states=driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)


#scraping rank
rank=[]
try:
    ranks=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    rank.append('No details available')
time.sleep(2)


#scraping States
State=[]
try:
    states=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    State.append('No details available')
time.sleep(2)


#scraping GSDP(19-20)
GSDP_20=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           #handling no such element exception
    GSDP_20.append('No details available')
time.sleep(2)    
    
#scraping GSDP(18-19)
GSDP_19=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        #handling no such element exception
    GSDP_19.append('No details available')
time.sleep(2)

#scraping share (18-19)
share=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          #handling no such element exception
    share.append('No details available')
time.sleep(2)

#scraping GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:            #handling no such element exception
    GDP_billion.append('No details available')
time.sleep(2)

In [14]:
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [ ]:
#Question number 4 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [69]:
driver3=webdriver.Chrome(r'C:\Users\User\Desktop\veeresh\Internship(test)/chromedriver.exe')

C:\Users\Rhsha\AppData\Local\Temp\ipykernel_6916\476752700.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver3=webdriver.Chrome(r'C:\Users\User\Desktop\veeresh\Internship(test)/chromedriver.exe')

In [70]:
driver3.get('https://github.com/')

In [71]:
source=driver3.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [72]:
trending=driver3.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [73]:
title_url=[]
url=driver3.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in url:
    title_url.append(i.get_attribute('href'))

In [74]:
len(title_url)

25

In [75]:
import time
from time import sleep

In [76]:
titl=[]

for i in title_url:
    driver3.get(i)
    time.sleep(3)
    try:
        ti_tag=driver3.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        titl.append(ti_tag.text)
    except NoSuchElementException:
        titl.append("-")

In [77]:
description=[]

for i in title_url:
    driver3.get(i)
    time.sleep(3)
    try:
        d_tag=driver3.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        description.append(d_tag.text)
    except NoSuchElementException:
        description.append("-")

In [79]:
len(title_url),len(titl),len(description)

(25, 25, 25)

In [80]:
df=pd.DataFrame({'Repository title':titl,'Repository description':description})
df

,Repository title,Repository description
0,LaWGPT,"🎉 Repo for LaWGPT, Chinese-Llama tuned with Ch..."
1,voice-changer,リアルタイムボイスチェンジャー Realtime Voice Changer
2,Flowise,Drag & drop UI to build your customized LLM fl...
3,next-enterprise,💼 An enterprise-grade Next.js boilerplate for ...
4,awesome-selfhosted,A list of Free Software network services and w...
5,the-algorithm,Source code for Twitter's Recommendation Algor...
6,yt-fts,Youtube Full Text Search - Search all of a You...
7,Prompt-Engineering-Guide,"🐙 Guides, papers, lecture, notebooks and resou..."
8,helix,A post-modern modal text editor.
9,gpt-code-ui,An open source implementation of OpenAI's Chat...
10,FUE5,FUE5 is a fan-made project with the goal to se...
11,MaaAssistantArknights,《明日方舟》小助手，全日常一键长草！| A one-click tool for the d...
12,egos-2000,A minimal operating system (2K LOC) on QEMU an...
13,DragGAN,Code for DragGAN (SIGGRAPH 2023)
14,klipper,Klipper is a 3d-printer firmware
15,quivr,Dump all your files and thoughts into your Gen...
16,EasySpider,A visual no-code/code-free web crawler/spider一...
17,snake-ai,"An AI agent that beats the classic game ""Snake""."
18,StableStudio,Community interface for generative AI
19,nlw-12-spacetime-ignite,Aplicação de recordação de memórias desenvolvi...
20,SpeechGPT,SpeechGPT: Empowering Large Language Models wi...
21,AGiXT,AGiXT is a dynamic AI Automation Platform that...
22,Qbot,[🔥updating ...] 自动量化交易机器人 Qbot is an AI-orient...
23,awesome-chatgpt-prompts,This repo includes ChatGPT prompt curation to ...
24,awesome-langchain,😎 Awesome list of tools and projects with the ...

In [7]:
driver.close()

In [ ]:
#Question number 5 Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [8]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\Rhsha\AppData\Local\Temp\ipykernel_6916\3775428138.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [10]:
url = "https://www.billboard.com/"
driver.get(url)

In [11]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [12]:
view=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view.click()

In [13]:
song=[]
artist=[]
lw_rank=[]
p_rank=[]
weeks=[]

In [14]:
song_tag=driver.find_element(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
song.append(song_tag.text)
s_tag=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in s_tag:
    song.append(i.text)

ar_tag=driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
artist.append(ar_tag.text)
art_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in art_tag:
    artist.append(i.text)

In [15]:
len(song),len(artist)

(100, 100)

In [16]:
lw_rank=[]
lw_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[4]/span')
for i in lw_tag:
    lw_rank.append(i.text)

p_rank=[]
p_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[5]/span')
for i in p_tag:
    p_rank.append(i.text)

weeks=[]
week=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[6]/span')
for i in week:
    weeks.append(i.text)

In [17]:
len(lw_rank),len(p_rank),len(weeks)

(100, 100, 100)

In [19]:
import pandas as pd

In [20]:
df=pd.DataFrame({'Song name':song,'Artist name':artist,'Last week rank':lw_rank,'Peak rank':p_rank,'Weeks on board':weeks})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,15
1,Kill Bill,SZA,2,1,22
2,Flowers,Miley Cyrus,3,1,17
3,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,8
4,Calm Down,Rema & Selena Gomez,5,5,36
...,...,...,...,...,...
95,Wreckage,Nate Smith,69,69,2
96,Curtains,Ed Sheeran,-,97,1
97,What It Is (Block Boy),Doechii Featuring Kodak Black,-,98,1
98,Peaches,Jack Black,82,56,5
99,Private Landing,Don Toliver Featuring Justin Bieber & Future,99,72,5

In [21]:
driver.close()

In [ ]:
#Question number 6 Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [22]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\Rhsha\AppData\Local\Temp\ipykernel_6916\3775428138.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [23]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [24]:
book_name=[]
author_name=[]
book_sold=[]
publisher=[]
genre=[]

In [25]:
book_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_tag:
    book_name.append(i.text)

author_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_tag:
    author_name.append(i.text)
    
sold_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in sold_tag:
    book_sold.append(i.text)
    
pub_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub_tag:
    publisher.append(i.text)
    
genre_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_tag:
    genre.append(i.text)

In [26]:
import pandas as pd

In [27]:
len(book_name),len(author_name),len(book_sold),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [28]:
df=pd.DataFrame({'Title':book_name,'Author':author_name,'Volume sold':book_sold,'Publisher':publisher,'Genre':genre})
df

,Title,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [29]:
driver.close()

In [ ]:
#Question number 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [30]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\Rhsha\AppData\Local\Temp\ipykernel_6916\3775428138.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [31]:
driver.get('http://www.imdb.com/list/ls095964455/')

In [32]:
name=[]
year=[]
genre=[]
runtime=[]
rating=[]
voting=[]

In [33]:
name_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/a')
for i in name_tag:
    name.append(i.text)

year_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/span[2]')
for i in year_tag:
    year.append(i.text)
    
genre_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[5]')
for i in genre_tag:
    genre.append(i.text)
    
run_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[3]')
for i in run_tag:
    runtime.append(i.text)
    
rate_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/div/div[1]/span[2]')
for i in rate_tag:
    rating.append(i.text)
    
vote=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p[4]/span[2]')
for i in vote:
    voting.append(i.text)

In [34]:
len(name),len(year),len(genre),len(runtime),len(rating),len(voting)

(100, 100, 100, 100, 100, 100)

In [35]:
df=pd.DataFrame({'Name':name,'Year span':year,'Genre':genre,'Runtime':runtime,'Rating':rating,'Voting':voting})
df

,Name,Year span,Genre,Runtime,Rating,Voting
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,161,658"
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,8.7,"1,241,951"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,026,959"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,104"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,196"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,655"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,687"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,600"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,193"
99,The Haunting of Hill House,(2018– ),"Drama, Horror, Mystery",572 min,8.6,"258,037"

In [36]:
driver.close()

In [ ]:
#Question number 8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [37]:
driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\Rhsha\AppData\Local\Temp\ipykernel_6916\3775428138.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"D:\Downloads\chromedriver_win32\chromedriver.exe")

In [38]:
driver.get('https://archive.ics.uci.edu/')

In [39]:
viewall=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
viewall.click()

In [40]:
dataname=[]
datatype=[]
task=[]
attribute_type=[]
instance=[]
attribute=[]
year=[]

In [42]:
data_tag=driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[1]')
for i in data_tag[1:623]:
    dataname.append(i.text)
    
datatype_tag=driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[2]')
for i in datatype_tag[1:623]:
    datatype.append(i.text)
    
task_tag=driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[3]')
for i in task_tag[1:623]:
    task.append(i.text)
    
type_tag=driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[4]')
for i in type_tag[1:623]:
    attribute_type.append(i.text)
    
inst_tag=driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[5]')
for i in inst_tag[1:623]:
    instance.append(i.text)
    
att_tag=driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[6]')
for i in att_tag[1:623]:
    attribute.append(i.text)
    
y_tag=driver.find_elements(By.XPATH,'//table[@cellpadding="5"][1]/tbody/tr/td[7]')
for i in y_tag[1:623]:
    year.append(i.text)

In [43]:
len(dataname),len(datatype),len(task),len(attribute_type),len(instance),len(attribute),len(year)

(622, 622, 622, 622, 622, 622, 622)

In [44]:
df=pd.DataFrame({'Dataname':dataname,'Datatype':datatype,'Task':task,'Attribute type':attribute_type,'NO of instances':instance,'NO of attribute':attribute,'Year':year})
df

,Dataname,Datatype,Task,Attribute type,NO of instances,NO of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

In [ ]:
#Question number 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location

In [45]:
driver8=webdriver.Chrome(r"C:\Users\User\Desktop\veeresh\Internship(test)/chromedriver.exe")

C:\Users\Rhsha\AppData\Local\Temp\ipykernel_6916\505358334.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver8=webdriver.Chrome(r"C:\Users\User\Desktop\veeresh\Internship(test)/chromedriver.exe")

In [46]:
driver8.get('https://www.naukri.com/hr-recruiters-consultants')

In [47]:
skill=driver8.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
skill.send_keys('Data science')

In [48]:
search=driver8.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

In [49]:
name=[]
designation=[]
company=[]
skill=[]
location=[]

In [50]:
name_tag=driver8.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in name_tag:
    name.append(i.text)
    
des_tag=driver8.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in des_tag:
    designation.append(i.text)

com_tag=driver8.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
for i in com_tag:
    company.append(i.text)

skill_tag=driver8.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skill_tag:
    skill.append(i.text)

In [51]:
url=[]
name_url=driver8.find_elements(By.XPATH,'//a[@class="ellipsis"][1]')
for i in name_url:
    url.append(i.get_attribute('href'))

In [52]:
url

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=168482553654635300&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=168482553654635300&xp=2',
 'https://www.naukri.com/recruiters/marsiantech?xid=168482553654635300&xp=3',
 'https://www.naukri.com/recruiters/anikagrawal-3647208?xid=168482553654635300&xp=4',
 'https://www.naukri.com/recruiters/LXP-DATASCIENCE?xid=168482553654635300&xp=5',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=168482553654635300&xp=6',
 'https://www.naukri.com/recruiters/menakav-3213816?xid=168482553654635300&xp=7',
 'https://www.naukri.com/recruiters/techvantage?xid=168482553654635300&xp=8',
 'https://www.naukri.com/recruiters/asiflucknowi-4331110?xid=168482553654635300&xp=9',
 'https://www.naukri.com/recruiters/instafinancials-humanresource?xid=168482553654635300&xp=10',
 'https://www.naukri.com/recruiters/kalpana-2078894?xid=168482553654635300&xp=11',
 'https://www.naukri.com/recruiters/mubarak-2905498?xid=168482553654635300&xp=12',
 'https://www.naukri.com/recruiters/quantmagnum?xid=168482553654635300&xp=13',
 'https://www.naukri.com/recruiters/priyankaakiri-5010064?xid=168482553654635300&xp=14',
 'https://www.naukri.com/recruiters/kapildevang-3169734?xid=168482553654635300&xp=15',
 'https://www.naukri.com/recruiters/maheshbabuchanna-1803238?xid=168482553654635300&xp=16',
 'https://www.naukri.com/recruiters/vaishnavikudalkar-5205628?xid=168482553654635300&xp=17',
 'https://www.naukri.com/recruiters/sakshichhikara?xid=168482553654635300&xp=18',
 'https://www.naukri.com/recruiters/ruchidhote?xid=168482553654635300&xp=19',
 'https://www.naukri.com/recruiters/manishayadav-4463916?xid=168482553654635300&xp=20',
 'https://www.naukri.com/recruiters/riyarajesh-4375878?xid=168482553654635300&xp=21',
 'https://www.naukri.com/recruiters/rashmibhattacharjee-3921774?xid=168482553654635300&xp=22',
 'https://www.naukri.com/recruiters/faizankareem-3685102?xid=168482553654635300&xp=23',
 'https://www.naukri.com/recruiters/rithikadadwal-3517898?xid=168482553654635300&xp=24',
 'https://www.naukri.com/recruiters/ankitshah-21129?xid=168482553654635300&xp=25',
 'https://www.naukri.com/recruiters/shaunrao-3020604?xid=168482553654635300&xp=26',
 'https://www.naukri.com/recruiters/deeparchisharma?xid=168482553654635300&xp=27',
 'https://www.naukri.com/recruiters/azaharshaikh-companyrecruiter?xid=168482553654635300&xp=28',
 'https://www.naukri.com/recruiters/manas-3159036?xid=168482553654635300&xp=29',
 'https://www.naukri.com/recruiters/kumar-3378892?xid=168482553654635300&xp=30',
 'https://www.naukri.com/recruiters/sunilvedula-3392046?xid=168482553654635300&xp=31',
 'https://www.naukri.com/recruiters/rajatkumar-3295096?xid=168482553654635300&xp=32',
 'https://www.naukri.com/recruiters/dhruvdevdubey?xid=168482553654635300&xp=33',
 'https://www.naukri.com/recruiters/avnishmishra-5310575?xid=168482553654635300&xp=34',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=168482553654635300&xp=35',
 'https://www.naukri.com/recruiters/nikithapalaparthi-5172698?xid=168482553654635300&xp=36',
 'https://www.naukri.com/recruiters/priyakhare-4894796?xid=168482553654635300&xp=37',
 'https://www.naukri.com/recruiters/amitsharma-4238940?xid=168482553654635300&xp=38',
 'https://www.naukri.com/recruiters/deepali002g?xid=168482553654635300&xp=39',
 'https://www.naukri.com/recruiters/shashikantchaudhary-4164854?xid=168482553654635300&xp=40',
 'https://www.naukri.com/recruiters/brad-4068508?xid=168482553654635300&xp=41',
 'https://www.naukri.com/recruiters/rutujapawar?xid=168482553654635300&xp=42',
 'https://www.naukri.com/recruiters/madhusudhansridhar-2705338?xid=168482553654635300&xp=43',
 'https://www.naukri.com/recruiters/ankitsinha-3398798?xid=168482553654635300&xp=44',
 'https://www.naukri.com/recruiters/gauravchouhan?xid=168482553654635300&xp=45',
 'https://www.naukri.com/recruiters/impel?xid=168482553654635300&xp=46',
 'https://www.naukri.com/recruiters/ashwini-3434922?xid=168482553654635300&xp=47',
 'https://www.naukri.com/recruiters/balajikolli-2870676?xid=168482553654635300&xp=48',
 'https://www.naukri.com/recruiters/rajaninagaraj-3387578?xid=168482553654635300&xp=49',
 'https://www.naukri.com/recruiters/rohitkumar-3277680?xid=168482553654635300&xp=50']

In [54]:
location=[]
for i in url:
    driver8.get(i)
    try:
        loc_tag=driver8.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
        location.append(loc_tag.text)
    except NoSuchElementException:
        location.append("-")

In [55]:
len(name),len(designation),len(company),len(skill),len(location)

(50, 50, 50, 50, 50)

In [56]:
df=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills they hire for':skill,'Location':location})
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai

In [57]:
driver.close()